<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:c="http://www.springframework.org/schema/c"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 
	<bean id="courseBean" class="com.shivaji.beans.Course" c:cid="C-222" c:cname="Python" c:ccost="12000">
		 
		<constructor-arg value="C-111"/>
		<constructor-arg value="Java"/>
		<constructor-arg value="10000"/>
		
	</bean>
	 -->
	<!-- 
	<bean id="studentBean" class="com.shivaji.beans.Student" c:sid="S-222" c:sname="Sundaram" c:saddr="Goa" c:course-ref="courseBean">
		
		<constructor-arg value="S-111"/>
		<constructor-arg value="Shivam"/>
		<constructor-arg value="Hyd"/>
		<constructor-arg ref="courseBean"/>
	
	</bean>
	 -->
	<!-- 
	<bean id="studentBean" class="com.shivaji.beans.Student" c:sid="S-222" c:sname="Sundaram" c:saddr="Goa" c:course-ref="courseBean"/>
	<bean id="courseBean" class="com.shivaji.beans.Course" c:cid="C-222" c:cname="Python" c:ccost="12000"/>
	 -->
	 
	 
	<bean id="courseBean" class="com.shivaji.beans.Course" c:_0="C-222" c:_1="Python" c:_2="12000"/>
	<bean id="studentBean" class="com.shivaji.beans.Student" c:_1="Sundaram" c:_3-ref="courseBean" c:_0="S-222"  c:_2="Goa" />
	 
	
</beans>

<!-- We can apply the inline C-namespace through [xmlns:c="http://www.springframework.org/schema/c] command  -->